* {
    font-family: "League Spartan";
    padding: 0px;
    margin: 0px;
}

@media only screen and (max-width: 600px){
    body {
        background-color: rgb(47, 48, 51);
        
    }

    #logo {
        background-color: rgb(28, 29, 31);
        padding: 20px 20px;
        font-size: 20px;
        margin-bottom: 10%;
    }

    /*Save*/
    #save {
        
        display: flex;
        justify-content: center;
        transition: .2s;
    }

    #save button {
        background-color: rgb(0, 81, 255);
        color: white;
        position: fixed;
        bottom: 0px;
        border: none;
        padding: 20px 20px;
        width: 300px;
        font-size: 20px;
        border-radius: 30px;
        font-weight: 600;
        transition: .2s;
    }

    /*Treino*/
    #treino {
        padding: 0px 10px;
        display: block;
        align-self: center;

    }

    #treino #botoes {
        justify-self: center;
    }

    #treino #botoes button {
        color: white;
        width: 52px;
        height: 35px;
        font-size: 15px;
        border: none;
        border-radius: 30px;
        position: relative;
        background-color: rgb(28, 29, 31);
    }

    #ficha {
        color: rgb(255, 255, 255);
        background-color: rgb(28, 29, 31);
        position: relative;
        top: 70px;
        height: 435px;
        font-size: 25px;
        padding: 20px;
        border-radius: 30px;
        overflow-y: scroll;
    }

    #ficha .fichas div {
        height: 110px;
        display: block;
        justify-self: center;
    }

    #ficha .fichas input {
        height: 30px;
        width: 80px;
        margin-right: 5px;
        border: none;
        background-color: rgb(47, 48, 51);
        border-radius: 30px;
        text-align: center;
        font-size: 18px;
        color: rgb(255, 255, 255);
        margin-top: 5px;
    }
}